@font-face{
    src: url(../font/Consolas.ttf);
    font-family: 'Consolas';
    src: url(../font/SF-UI-Display-Bold.ttf);
    font-family: 'SF-UI-Display-Bold';
    src: url(../font/sofiapro-light.otf);
    font-family: 'sofiapro-light';
    src: url(../font/sofia-pro-black-webfont.ttf);
    font-family: 'sofia-pro-black-webfont'; 
    src: url(../font/SF-UI-Display-Light.otf);
    font-family: 'SF-UI-Display-Light'; 
    src: url(../font/Sofia-Pro-Medium.otf);
    font-family: 'Sofia-Pro-Medium';
    src: url(../font/SF-UI-Display-Medium.otf);
    font-family: 'SF-UI-Display-Medium'; 
    src: url(../font/Sofia-Pro-Bold.otf);
    font-family: 'Sofia-Pro-Bold';    
}  

.navbar-default{
    background-color: #023d79;
    margin: 0;
    
}
.navbar-nav>li>a{
    color: #fff!important;
    padding: 21px;
}

.wrapper{
    background-color: #eee;
    height: auto;
}
.content{
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}
.amazon_logo{
    border:2px solid #eee;
}
h4{
    color: black;
    font-weight: bold;
}
h5{
    color: black!important;
    font-weight: 600;
    
}
.brand-text{
    color: #d0cdcd;
}
.social{
    position: absolute;
    right: 0;
    top: 0;
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline-block;
    padding: 10px;
}
.social ul li a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.social ul li a:hover{
    text-decoration: none;
}
.fa-star{
    color: #f9e666!important;
}
.graphic-pannel{
    padding: 20px;
}
.graphic-pannel p{
    color: #b0b2b4;
    
}
.job-left-pannel{
    background-color: #fff;
    width: 74%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 14px;
    
}
.job-left-pannel h4{
    color: black;
    font-weight: bold;
}
.job-left ul{
    list-style-type: none;
    margin-top: 25px;
}
.job-left li{
    padding: 5px;
}
.job-right-pannel{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 14px;
    
}
.button-query{
    background-color: #043f7a!important;
}
.button-apply{
    padding: 6px 70px;
}
.app-text{
    color: #07ecce;
    margin: 10px;
}
.report-text{
    color: #c7c3c3;
    margin: 8px;
}
.fa-check{
    color: #23c00e;
}
.skill-btn{
    line-height: 0;
    border: 1px solid #00B9F5;
    background-color: #fff;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 14px;
    margin-top: 11px;

}
.similar-job-pannel{
    background-color: #fff!important;
    margin-top: 13px;
    margin-right: 17px;
    /* width: 36%; */
    border-radius: 5px;
    padding: 20px;
    bottom: 12px;
   
}

.news-pannel{
    border-radius: 5px;
    background-color: #fff;
    max-height: 450px;
}
.green-text{
    color: #23c00e;
}
.blue-text{
    color: #0e77e2;
    font-weight: 600;
}
.map{
    width: 100%;
    height: 467px;
    position: relative!important;
    overflow: hidden!important;
    margin-top: 12px;
    border-radius: 5px;
}

.scrollbar{
    height: 300px;
    overflow-y:auto;	
}
.scrollbar h4{
    color: black;
    font-weight: bold;
}
.scrollbar p{
    color: #888;
    border-bottom:2px solid #ece8e8;
    line-height: 4;

}

#news-scroll::-webkit-scrollbar{
    width: 10px;
}
#news-scroll::-webkit-scrollbar-track{
    background-color: #000;
}
#news-scroll::-webkit-scrollbar-thumb{
    background-color: #888;
}
#news-scroll::-webkit-scrollbar-thumb:hover{
    background-color: #c7c3c3;
}
.footer{
    background-color: #043f7a;
    min-height: 100%;
}

.footer-menu-text{
    margin-top: 46px;
    
}
.footer-menu-text h4, h5 {
    color: #FFF;
}
.move-left {
    margin-left: 14px;
}
.hr-line {
    border-bottom: 1px solid white;
    padding: 0px 0px 18px;
}
.hr-line{
    color: #fff!important;
}
.footer-menu ul {
    list-style-type: none;
    line-height: 26px;
    padding-left: 0;
}
.footer-menu ul li {
    list-style-type: none;
}
.footer-menu ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
.footer-social ul {
    padding: 0;
}
.footer-social ul li {
    list-style-type: none;
    float: left;
    padding: 0px 6px;
}
.footer-social ul li i {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}