/*media query*/

/**/


@media (max-width: 1920px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 991px) {

}


@media (max-width: 767px) {

}


@media (max-width: 479px) {

.latest-job-pannel .social-img{
	width: 130px;
}

}


/*end of media query*/



