
@font-face{
    src: url(../font/Consolas.ttf);
    font-family: 'Consolas';
    src: url(../font/SF-UI-Display-Bold.ttf);
    font-family: 'SF-UI-Display-Bold';
    src: url(../font/sofiapro-light.otf);
    font-family: 'sofiapro-light';
    src: url(../font/sofia-pro-black-webfont.ttf);
    font-family: 'sofia-pro-black-webfont'; 
    src: url(../font/SF-UI-Display-Light.otf);
    font-family: 'SF-UI-Display-Light'; 
    src: url(../font/Sofia-Pro-Medium.otf);
    font-family: 'Sofia-Pro-Medium';
    src: url(../font/SF-UI-Display-Medium.otf);
    font-family: 'SF-UI-Display-Medium'; 
    src: url(../font/Sofia-Pro-Bold.otf);
    font-family: 'Sofia-Pro-Bold'; 
     
}  

.nopadding{
    padding-left: 0;
    padding-right: 0;
}

.height-padding{
padding: 80px;
}

.push-left{
    margin-left: 16%;
}

.form-box input[type="text"],.form-box .form-group{
    width: 100%;
    display: block;
} 

.type-it{
    border-radius: 0;
}

.rounded{
    border-radius: 4px 0px 0px 4px !important;
}

.form-box{
    margin-top: 38px;
    margin-left: 78px;
}
.main-content{
    background-image: url(../images/bg.png);
    background-color: #265CC3;
    background-size: cover;	
    min-height: 750px;
    position: inherit;	
}
.banner-2{
    background-color: #fff;
}
.banner-3{
    background-color: #70707024;
    padding: 80px;
}
.banner-4{
    background-color: #030A63;
    min-height: 100%;
}

.icon-bar {
  color: white;
  border-color: white;
  background-color: white;
}

.navbar-nav a{
    color: white !important;
}

.navbar-nav{
    margin-top: 10px;
    width: 60%;
    float: right;
    
    
}
.top-nav{
    background-color: #0000;
    position: absolute;
    width: 90%;
    top: 0;
}

.nav li a{
    padding:10px !important;
    font-family: 'SF-UI-Display-Light';
    font-weight:normal;
    font-size: 16px;
}
.nav li a:hover{
  
}

.second-navbar{
    margin-top: 28px;
    padding: 0px 27px;
}

.form-box label{
    color: white;
    font-size: 13px;
    font-weight: normal;
}

.second-navbar ul li {
list-style-type: none;
float: left;
background-color: #0039A5CC;
padding: 14px 17px;
color: #fff;
}

.second-navbar ul li a{
    color: #ffffff8a;
    font-family: 'SF-UI-Display-Light';
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
}

.heading{
    margin-top: 100px;
}

.second-navbar .active { 
  background-color: #00308b;
}

.head-text{
    margin-top: 100px;
}
.head-text h2{
color: #fff;
font-size: 35px;
font-weight: bold;
line-height: 24px;
letter-spacing: 2px;
font-weight: bold;
font-family: 'SF-UI-Display-Bold';
}
.header-button{
    margin-top: 80px;
}
.header-button a{
    background-color: #00B929;
    color: #FFF;
    padding: 10px 40px;
    font-size: 20px;
    text-decoration: none;
}
.page-heading{
    padding: 50px 0px 61px;
    margin-bottom: 20px;
}

.page-heading span{
color: #000;
font-size: 36px;
font-weight: bold;
letter-spacing: 1px;
font-family: 'SF-UI-Display-Bold';
}
.page-heading a{
    color: #000000b3;
    text-decoration: none;
    margin-top: 17px;
    font-weight: 700;
}
.search-text{
    color: #fff;
    font-family: 'Sofia-Pro-Medium';
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
input[type="text"]{
    margin-left: -6px;
    
}
.success-btn{
    border-radius: 0px 4px 4px 0px;
    width: 100%;    
    background-color: #00B929;
    margin-left: -12px;
}
.image-upload > input{
    display: none;
}

.image-upload img{
	margin-top: 50px;
    cursor: pointer;
    margin-bottom: 30px;
}
.upload_cv a {
    font-family: 'SF-UI-Display-Light';
    background-color:#0039A5; 
    padding: 13px 54px!important; 
    border-radius: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: .5em;
    text-decoration: none;
  }
  .post_new_job a{
    font-family: 'SF-UI-Display-Light';
    background-color:#00B929; 
    padding: 13px 54px!important; 
    border-radius: 5px;
    color: white;
    padding: .5em;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .card-body P{
    margin: 28px 4px;
}
.card-body h3{
    font-family: 'SF-UI-Display-Bold';
    font-weight: bold;
}


.popular-block{
    padding: 32px 0 40px 44px;
    top: 10px;
}
.popular-block h5 {
    font-size: 15px;
    font-weight: bold;
}
.popular-block:hover {
    -webkit-animation: shadowFade 1s;
    box-shadow: 0 0 10px #aaa;
}

@-webkit-popular-block shadowFadeOut {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.dot-blue {
    border-radius: 50px;
    background: blue;
    padding: 15px;
    width: 0.5em;
    height:0.5em;
}
.dot-green {
    border-radius: 50px;
    background: green;
    padding: 15px;
    width: 0.5em;
    height:0.5em;
}
.dot-red {
    border-radius: 50px;
    background:red;
    padding: 15px;
    width: 0.5em;
    height:0.5em;
}
.dot-skyblue {
    border-radius: 50px;
    background:skyblue;
    padding: 15px;
    width: 0.5em;
    height:0.5em;
}
.top-candidate a{
    background-color: #00B929;
    border-radius: 5px;
    padding: 8px;
    color: #fff;
    line-height: 5;
    font-size: 13px;
    text-decoration: none;
}
#top-candidates{
    overflow-x: hidden;
}
.owl-item img{
    width: 50%!important;
    margin-left: 61px;
    margin-top: 20px;
}
.owl-item{
    border: 1px solid #B2B2B2!important;
    border-bottom: 6px solid #0039A5!important;
}

.owl-nav{
    margin: 40px!important;
}
.owl-prev{
    margin: 10px!important;
}
.item h5{
    color: black;
    font-family: 'Sofia-Pro-light'
}

.view-all a{
    text-decoration: none;
    color: #000000b3;
    line-height: 4;
    padding: 2px;
    font-weight: 700;
}

.footer-menu-text h4, h5{
    color: #FFF;
}

.footer-menu-text{
    margin-top: 46px;
}

.move-left{
    margin-left: 14px;
    font-size: 14px;
   font-weight: normal;
}

.hr-line{
    border-bottom: 1px solid white;
    padding: 0px 0px 18px;
    font-size: 12px;
}

.footer-menu ul{
      list-style-type: none;
      line-height: 26px;
      padding-left: 0;
}
.footer-menu ul li{
    list-style-type: none;
}
.footer-menu ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.footer-social ul li {
list-style-type: none;
float: left;
padding: 0px 6px;
}

.footer-social ul li i{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.footer-social ul{
    padding: 0;
}

.premium-job-pannel{
    padding: 4px;
    margin: 14px;
    border-radius: 20px;
    border: 1px solid #ded8d8;
    
}

.premium-job-pannel h4{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
}

.premium-job-pannel p{
    color: #aaa!important;
    font-weight: normal;
    font-size: 13px;
    margin-right: 24px;
}
.loacation-img{
    content: url(../images/location-icon.png);
}
.doller{
    vertical-align: middle;
}
.doller-img{
   content: url(../images/doller.png);
}

.latest-job-pannel{
    padding: 4px;
    margin: 14px;
    border-radius: 20px;
    border: 1px solid #ded8d8; 
    min-height: 190px;
}
.latest-job-pannel p{
    color: #aaa;
    font-weight: normal;
    font-size: 13px;
}

.latest-job-pannel h4{
    font-weight: bold;
    font-size: 14px;

}

.location{
    color: #28bb28 !important;
    font-weight: 500;
    float: left;
}

.doller{
    margin-left: 33px;
}

.skill-btn{
    line-height: 0;
    border: 1px solid green;
    background-color: #fff;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 4px;
}

.price{
    color: #3b3be2 !important;
    font-weight: bold !important;
    letter-spacing: 1px;
    font-size: 12px !important;
    
}
.details{
    margin-top: 12px;
}
.time{
    color: #7b777799;
    font-weight: bold;
    letter-spacing: 1px;
}


.skill-btn{
 line-height: 0;
    border: 1px solid #00B9F5;
    background-color: #fff;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 4px;
    color: #00B9F5;

}

.skill-btn-green{
    line-height: 0;
    border: 1px solid green;
    background-color: #fff;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 4px;
}
.skill-btn-red{
    line-height: 0;
    border: 1px solid green;
    background-color: #fff;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 4px;
}
.skill-btn-blue{
    line-height: 0;
    border: 1px solid green;
    background-color: #fff;
    height: 23px;
    border-radius: 30px;
    font-size: 12px;
    margin-right: 4px;
}
.popular-block h5{
    color: #000;
}

/*hr.style-two { 
    border: 0; height: 1px; 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); 
}*/

hr.style-one { 
    border: 0; 
    height: 1px; 
    background: #FFF; 
    background-image: linear-gradient(to right, #ccc, #333, #ccc); 
}

.copyright p{
    color: #B7B1B199;
    font-weight: normal;
}

.pricing{
    margin-top: 50px;
}

.pricing p{
    font-weight: bold;
    letter-spacing: 1px;
}

.pricing p img{
    padding: 0px 8px;
}